/* You can add global styles to this file, and also import other style files */

@import "./app/scss/_variables.scss";

* {
  font-family: $font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  color: $purple;
  font-weight: 800;
}

a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 3em;
  margin: 0 3em;
}

.book-card {
  height: 14em;
  background-color: $light-blue;
  border: 1px solid $purple;
  border-radius: 5px;
  box-shadow: 2px 2px 5px $purple;
  img, a {
    height: 100%;
  }
  img {
    width: auto;
    border-radius: 5px 0 0 5px;
  }
}

.title-details {
  padding: 0.5em;
  justify-content: space-between;
  height: 100%;
  h2 {
    font-size: 1em;
  }
  img {
    height: 2em;
    align-self: flex-end;
    justify-self: flex-end;
  }
}