<section>
  <h1>Books!</h1>
  <input
    type="search"
    class="form-control"
    placeholder="New Search"
    [formControl]="newSearchField"
  />
  <button (click)="findBooks()">Search</button>
  <input
    type="search"
    class="form-control"
    placeholder="Filter"
    [formControl]="filterField"
  />
  <button (click)="filterBooks()">Filter</button>
  <div *ngIf="books">
    <article *ngFor="let book of filteredResults">
      <h1>{{ book.best_book.title._text }}</h1>
      <img
        src="{{ book.best_book.image_url._text }}"
        alt="{{ book.best_book.title._text }} cover"
      />
    </article>
  </div>
</section>
